/*--- Basic Animations ---*/

@import "src/animations/helpers";
@import "src/animations/bounce";
@import "src/animations/fade";
@import "src/animations/flash";
@import "src/animations/flip";
@import "src/animations/hinge";
@import "src/animations/lightspeed";
@import "src/animations/pulse";
@import "src/animations/roll";
@import "src/animations/rotate";
@import "src/animations/rubberBand";
@import "src/animations/shake";
@import "src/animations/slide";
@import "src/animations/swing";
@import "src/animations/tada";
@import "src/animations/wobble";
@import "src/animations/zoom";