@import "app/base/core";

// --------------------
// Home
// --------------------
.home {
	header {
		background-image: url("#{$path}/images/bg_home_header_texture.png");
		background-repeat: repeat;
		background-color: $dkgreen-01;
		height: 180px;
		padding-top: 20px;
		margin-bottom: 0;
	}
	nav {
		&.main {
			padding-top: 50px;
			background-color: $dkgreen-01;

			ul {
				padding: 20px 0 25px;
			}
		}
	}

	section {
		&.homeMain {	
			background-color: $dkgreen-01;
			color: $white-01;
			padding-bottom: 60px;

			img {
				margin: $m-auto;
			}
		}
		
		&.homeOne {
			background-color: $tanned;
		}

		&.homeOne,
		&.homeTwo {
			.col {
				height: 620px;
				padding: 30px 0;
			}

			p {
				color: $dkred;
				text-align: center;
				margin-bottom: 40px;	
			}
		}
	}		
}

nav ul.leftNav {
	background-image: url("#{$path}/images/nav_bgborder_left.png");
}
nav ul.rightNav {
	background-image: url("#{$path}/images/nav_bgborder_right.png");
}
nav ul.leftNav,
nav ul.rightNav {
	background-repeat: no-repeat;
}
.logoHome {
	margin-top: -45px;
}