// --------------------------------------
// Paths
// --------------------------------------

$path-font-icon: '../fonts';

// --------------------------------------
// Grid System
// --------------------------------------

$system-width: 1200px;
$column-width: 80px;
$gutter-width: 0;
$columns: 15;

// --------------------------------------
// Colors
// --------------------------------------

$black-01: #000;
$white-01: #fff;

// --------------------------------------
// Fonts
// --------------------------------------

$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, "Times New Roman", Times, serif;
$times: "Times New Roman", Times, serif;