// --------------------
// Gouda Icon List
// --------------------

$properties: (
	404,
	adjust,
	align-center,
	align-left,
	align-justify,
	align-right,
	arrow-down,
	arrow-left,
	arrow-right,
	arrow-up,
	aside,
	asterisk,
	backward,
	ban-circle,
	barcode,
	bell,
	book,
	bookmark,
	bold,
	briefcase,
	bullhorn,
	calendar,
	camera,
	certificate,
	chat,
	check,
	chevron-down,
	chevron-left,
	chevron-right,
	chevron-up,
	circle-arrow-down,
	circle-arrow-left,
	circle-arrow-right,
	circle-arrow-up,
	close-alt,
	cloud,
	cloud-download,
	cloud-upload,
	code,
	codepen,
	cog,
	collapse-down,
	collapse-up,
	compressed,
	copyright-mark,
	credit-card,
	cutlery,
	dashboard,
	day,
	digg,
	document,
	dot,
	downarrow,
	download,
	download-alt,
	dribbble,
	dropbox,
	dropdown,
	dropdown-left,
	earphone,
	edit,
	eject,
	ellipsis,
	envelope,
	euro,
	exclamation-sign,
	expand,
	export,
	eye-close,
	eye-open,
	facebook,
	facebook-alt,
	facetime-video,
	fast-backward,
	fast-forward,
	feed,
	file,
	film,
	filter,
	fire,
	flag,
	flash,
	flickr,
	floppy-disk,
	floppy-open,
	floppy-remove,
	floppy-save,
	floppy-saved,
	folder-close,
	folder-open,
	font,
	forward,
	foursquare,
	fullscreen,
	gallery,
	gbp,
	gift,
	github,
	glass,
	globe,
	googleplus,
	googleplus-alt,
	hand-down,
	hand-left,
	hand-right,
	hand-up,
	hd-video,
	hdd,
	header,
	headphones,
	heart,
	heart-empty,
	hierarchy,
	home,
	import,
	inbox,
	indent-left,
	indent-right,
	info-sign,
	instagram,
	italic,
	key,
	leaf,
	leftarrow,
	link,
	linkedin,
	linkedin-alt,
	list,
	list-alt,
	lock,
	log-in,
	log-out,
	magnet,
	map-marker,
	maximize,
	menu,
	minus,
	minus-sign,
	move,
	music,
	new-window,
	off,
	ok,
	ok-circle,
	ok-sign,
	open,
	paintbrush,
	paperclip,
	path,
	pause,
	pencil,
	phone,
	phone-alt,
	picture,
	pinterest,
	pinterest-alt,
	plane,
	play,
	play-circle,
	plugin,
	plus,
	plus-sign,
	pocket,
	polldaddy,
	portfolio,
	print,
	pushpin,
	qrcode,
	question-sign,
	quote,
	random,
	record,
	reddit,
	refresh,
	registration-mark,
	remove,
	remove-circle,
	remove-sign,
	repeat,
	reply,
	reply-alt,
	reply-single,
	resize-vertical,
	resize-horizontal,
	resize-full,
	resize-small,
	retweet,
	rightarrow,
	road,
	save,
	saved,
	screenshot,
	sd-video,
	search,
	send,
	send-to-phone,
	send-to-tablet,
	share,
	share-alt,
	shopping-cart,
	signal,
	sitemap,
	skype,
	sort,
	sort-by-alphabet,
	sort-by-alphabet-alt,
	sort-by-attributes,
	sort-by-attributes-alt,
	sort-by-order,
	sort-by-order-alt,
	sound-stereo,
	sound-dolby,
	sound-5-1,
	sound-6-1,
	sound-7-1,
	spam,
	standard,
	star,
	star-empty,
	stats,
	status,
	step-backward,
	step-forward,
	stop,
	stumbleupon,
	subscribe,
	subscribed,
	subtitles,
	tablet,
	tag,
	tags,
	tasks,
	text-height,
	text-width,
	th,
	th-large,
	th-list,
	thumbs-down,
	thumbs-up,
	time,
	tint,
	top,
	tower,
	transfer,
	trash,
	tree-conifer,
	tree-deciduous,
	tumblr,
	twitter,
	unchecked,
	unsubscribe,
	uparrow,
	upload,
	usd,
	user,
	video,
	vimeo,
	volume-down,
	volume-off,
	volume-up,
	warning-sign,
	week,
	wordpress,
	wrench,
	xpost,
	youtube,
	zoom-in,
	zoom-out
);