// --------------------
// Gouda Icons
// --------------------

%icon-404 {

	&:before{
		
		@extend %genericons;
		content: "\f423";

	}

}

%icon-aside {

	&:before{
		
		@extend %genericons;
		content: "\f101";

	}

}

%icon-chat {

	&:before{
		
		@extend %genericons;
		content: "\f108";

	}

}

%icon-close-alt {

	&:before{
		
		@extend %genericons;
		content: "\f406";

	}

}

%icon-code {

	&:before{
		
		@extend %genericons;
		content: "\f462";

	}

}

%icon-codepen {

	&:before{
		
		@extend %genericons;
		content: "\f216";

	}

}

%icon-cog {

	&:before{
		
		@extend %genericons;
		content: "\f445";

	}

}

%icon-day {

	&:before{
		
		@extend %genericons;
		content: "\f305";

	}

}

%icon-digg {

	&:before{
		
		@extend %genericons;
		content: "\f221";

	}

}

%icon-document {

	&:before{
		
		@extend %genericons;
		content: "\f443";

	}

}

%icon-dot {

	&:before{
		
		@extend %genericons;
		content: "\f428";

	}

}

%icon-downarrow {

	&:before{
		
		@extend %genericons;
		content: "\f502";

	}

}

%icon-dribbble {

	&:before{
		
		@extend %genericons;
		content: "\f201";

	}

}

%icon-dropbox {

	&:before{
		
		@extend %genericons;
		content: "\f225";

	}

}

%icon-dropdown {

	&:before{
		
		@extend %genericons;
		content: "\f433";

	}

}

%icon-dropdown-left {

	&:before{
		
		@extend %genericons;
		content: "\f434";

	}

}

%icon-ellipsis {

	&:before{
		
		@extend %genericons;
		content: "\f476";

	}

}

%icon-facebook {

	&:before{
		
		@extend %genericons;
		content: "\f203";

	}

}

%icon-facebook-alt {

	&:before{
		
		@extend %genericons;
		content: "\f204";

	}

}

%icon-feed {

	&:before{
		
		@extend %genericons;
		content: "\f413";

	}

}

%icon-flickr {

	&:before{
		
		@extend %genericons;
		content: "\f211";

	}

}

%icon-foursquare {

	&:before{
		
		@extend %genericons;
		content: "\f226";

	}

}

%icon-gallery {

	&:before{
		
		@extend %genericons;
		content: "\f103";

	}

}

%icon-github {

	&:before{
		
		@extend %genericons;
		content: "\f200";

	}

}

%icon-googleplus {

	&:before{
		
		@extend %genericons;
		content: "\f206";

	}

}

%icon-googleplus-alt {

	&:before{
		
		@extend %genericons;
		content: "\f218";

	}

}

%icon-hierarchy {

	&:before{
		
		@extend %genericons;
		content: "\f505";

	}

}

%icon-instagram {

	&:before{
		
		@extend %genericons;
		content: "\f215";

	}

}

%icon-key {

	&:before{
		
		@extend %genericons;
		content: "\f427";

	}

}

%icon-leftarrow {

	&:before{
		
		@extend %genericons;
		content: "\f503";

	}

}

%icon-linkedin {

	&:before{
		
		@extend %genericons;
		content: "\f207";

	}

}

%icon-linkedin-alt {

	&:before{
		
		@extend %genericons;
		content: "\f208";

	}

}

%icon-maximize {

	&:before{
		
		@extend %genericons;
		content: "\f422";

	}

}

%icon-menu {

	&:before{
		
		@extend %genericons;
		content: "\f419";

	}

}

%icon-paintbrush {

	&:before{
		
		@extend %genericons;
		content: "\f506";

	}

}

%icon-path {

	&:before{
		
		@extend %genericons;
		content: "\f219";

	}

}

%icon-pinterest {

	&:before{
		
		@extend %genericons;
		content: "\f209";

	}

}

%icon-pinterest-alt {

	&:before{
		
		@extend %genericons;
		content: "\f210";

	}

}

%icon-plugin {

	&:before{
		
		@extend %genericons;
		content: "\f439";

	}

}

%icon-pocket {

	&:before{
		
		@extend %genericons;
		content: "\f224";

	}

}

%icon-polldaddy {

	&:before{
		
		@extend %genericons;
		content: "\f217";

	}

}

%icon-portfolio {

	&:before{
		
		@extend %genericons;
		content: "\f460";

	}

}

%icon-quote {

	&:before{
		
		@extend %genericons;
		content: "\f106";

	}

}

%icon-reddit {

	&:before{
		
		@extend %genericons;
		content: "\f222";

	}

}

%icon-reply {

	&:before{
		
		@extend %genericons;
		content: "\f412";

	}

}

%icon-reply-alt {

	&:before{
		
		@extend %genericons;
		content: "\f466";

	}

}

%icon-reply-single {

	&:before{
		
		@extend %genericons;
		content: "\f467";

	}

}

%icon-rightarrow {

	&:before{
		
		@extend %genericons;
		content: "\f501";

	}

}

%icon-send-to-phone {

	&:before{
		
		@extend %genericons;
		content: "\f438";

	}

}

%icon-send-to-tablet {

	&:before{
		
		@extend %genericons;
		content: "\f454";

	}

}

%icon-sitemap {

	&:before{
		
		@extend %genericons;
		content: "\f507";

	}

}

%icon-skype {

	&:before{
		
		@extend %genericons;
		content: "\f220";

	}

}

%icon-spam {

	&:before{
		
		@extend %genericons;
		content: "\f424";

	}

}

%icon-standard {

	&:before{
		
		@extend %genericons;
		content: "\f100";

	}

}

%icon-status {

	&:before{
		
		@extend %genericons;
		content: "\f105";

	}

}

%icon-stumbleupon {

	&:before{
		
		@extend %genericons;
		content: "\f223";

	}

}

%icon-subscribe {

	&:before{
		
		@extend %genericons;
		content: "\f463";

	}

}

%icon-subscribed {

	&:before{
		
		@extend %genericons;
		content: "\f465";

	}

}

%icon-tablet {

	&:before{
		
		@extend %genericons;
		content: "\f453";

	}

}

%icon-top {

	&:before{
		
		@extend %genericons;
		content: "\f435";

	}

}

%icon-tumblr {

	&:before{
		
		@extend %genericons;
		content: "\f214";

	}

}

%icon-twitter {

	&:before{
		
		@extend %genericons;
		content: "\f202";

	}

}

%icon-unsubscribe {

	&:before{
		
		@extend %genericons;
		content: "\f464";

	}

}

%icon-uparrow {

	&:before{
		
		@extend %genericons;
		content: "\f500";

	}

}

%icon-video {

	&:before{
		
		@extend %genericons;
		content: "\f104";

	}

}

%icon-vimeo {

	&:before{
		
		@extend %genericons;
		content: "\f212";

	}

}

%icon-week {

	&:before{
		
		@extend %genericons;
		content: "\f306";

	}

}

%icon-wordpress {

	&:before{
		
		@extend %genericons;
		content: "\f205";

	}

}

%icon-xpost {

	&:before{
		
		@extend %genericons;
		content: "\f504";

	}

}

%icon-youtube {

	&:before{
		
		@extend %genericons;
		content: "\f213";

	}

}

%icon-asterisk {

    &:before {
      
      @extend %glyphicons;
      content: "\2a";

    }

}

%icon-plus {

    &:before {
      
      @extend %glyphicons;
      content: "\2b";

    }

}

%icon-euro {

    &:before {
      
      @extend %glyphicons;
      content: "\20ac";

    }

}

%icon-minus {

    &:before {
      
      @extend %glyphicons;
      content: "\2212";

    }

}

%icon-cloud {

    &:before {
      
      @extend %glyphicons;
      content: "\2601";

    }

}

%icon-envelope {

    &:before {
      
      @extend %glyphicons;
      content: "\2709";

    }

}

%icon-pencil {

    &:before {
      
      @extend %glyphicons;
      content: "\270f";

    }

}

%icon-glass {

    &:before {
      
      @extend %glyphicons;
      content: "\e001";

    }

}

%icon-music {

    &:before {
      
      @extend %glyphicons;
      content: "\e002";

    }

}

%icon-search {

    &:before {
      
      @extend %glyphicons;
      content: "\e003";

    }

}

%icon-heart {

    &:before {
      
      @extend %glyphicons;
      content: "\e005";

    }

}

%icon-star {

    &:before {
      
      @extend %glyphicons;
      content: "\e006";

    }

}

%icon-star-empty {

    &:before {
      
      @extend %glyphicons;
      content: "\e007";

    }

}

%icon-user {

    &:before {
      
      @extend %glyphicons;
      content: "\e008";

    }

}

%icon-film {

    &:before {
      
      @extend %glyphicons;
      content: "\e009";

    }

}

%icon-th-large {

    &:before {
      
      @extend %glyphicons;
      content: "\e010";

    }

}

%icon-th {

    &:before {
      
      @extend %glyphicons;
      content: "\e011";

    }

}

%icon-th-list {

    &:before {
      
      @extend %glyphicons;
      content: "\e012";

    }

}

%icon-ok {

    &:before {
      
      @extend %glyphicons;
      content: "\e013";

    }

}

%icon-remove {

    &:before {
      
      @extend %glyphicons;
      content: "\e014";

    }

}

%icon-zoom-in {

    &:before {
      
      @extend %glyphicons;
      content: "\e015";

    }

}

%icon-zoom-out {

    &:before {
      
      @extend %glyphicons;
      content: "\e016";

    }

}

%icon-off {

    &:before {
      
      @extend %glyphicons;
      content: "\e017";

    }

}

%icon-signal {

    &:before {
      
      @extend %glyphicons;
      content: "\e018";

    }

}

%icon-cog {

    &:before {
      
      @extend %glyphicons;
      content: "\e019";

    }

}

%icon-trash {

    &:before {
      
      @extend %glyphicons;
      content: "\e020";

    }

}

%icon-home {

    &:before {
      
      @extend %glyphicons;
      content: "\e021";

    }

}

%icon-file {

    &:before {
      
      @extend %glyphicons;
      content: "\e022";

    }

}

%icon-time {

    &:before {
      
      @extend %glyphicons;
      content: "\e023";

    }

}

%icon-road {

    &:before {
      
      @extend %glyphicons;
      content: "\e024";

    }

}

%icon-download-alt {

    &:before {
      
      @extend %glyphicons;
      content: "\e025";

    }

}

%icon-download {

    &:before {
      
      @extend %glyphicons;
      content: "\e026";

    }

}

%icon-upload {

    &:before {
      
      @extend %glyphicons;
      content: "\e027";

    }

}

%icon-inbox {

    &:before {
      
      @extend %glyphicons;
      content: "\e028";

    }

}

%icon-play-circle {

    &:before {
      
      @extend %glyphicons;
      content: "\e029";

    }

}

%icon-repeat {

    &:before {
      
      @extend %glyphicons;
      content: "\e030";

    }

}

%icon-refresh {

    &:before {
      
      @extend %glyphicons;
      content: "\e031";

    }

}

%icon-list-alt {

    &:before {
      
      @extend %glyphicons;
      content: "\e032";

    }

}

%icon-lock {

    &:before {
      
      @extend %glyphicons;
      content: "\e033";

    }

}

%icon-flag {

    &:before {
      
      @extend %glyphicons;
      content: "\e034";

    }

}

%icon-headphones {

    &:before {
      
      @extend %glyphicons;
      content: "\e035";

    }

}

%icon-volume-off {

    &:before {
      
      @extend %glyphicons;
      content: "\e036";

    }

}

%icon-volume-down {

    &:before {
      
      @extend %glyphicons;
      content: "\e037";

    }

}

%icon-volume-up {

    &:before {
      
      @extend %glyphicons;
      content: "\e038";

    }

}

%icon-qrcode {

    &:before {
      
      @extend %glyphicons;
      content: "\e039";

    }

}

%icon-barcode {

    &:before {
      
      @extend %glyphicons;
      content: "\e040";

    }

}

%icon-tag {

    &:before {
      
      @extend %glyphicons;
      content: "\e041";

    }

}

%icon-tags {

    &:before {
      
      @extend %glyphicons;
      content: "\e042";

    }

}

%icon-book {

    &:before {
      
      @extend %glyphicons;
      content: "\e043";

    }

}

%icon-bookmark {

    &:before {
      
      @extend %glyphicons;
      content: "\e044";

    }

}

%icon-print {

    &:before {
      
      @extend %glyphicons;
      content: "\e045";

    }

}

%icon-camera {

    &:before {
      
      @extend %glyphicons;
      content: "\e046";

    }

}

%icon-font {

    &:before {
      
      @extend %glyphicons;
      content: "\e047";

    }

}

%icon-bold {

    &:before {
      
      @extend %glyphicons;
      content: "\e048";

    }

}

%icon-italic {

    &:before {
      
      @extend %glyphicons;
      content: "\e049";

    }

}

%icon-text-height {

    &:before {
      
      @extend %glyphicons;
      content: "\e050";

    }

}

%icon-text-width {

    &:before {
      
      @extend %glyphicons;
      content: "\e051";

    }

}

%icon-align-left {

    &:before {
      
      @extend %glyphicons;
      content: "\e052";

    }

}

%icon-align-center {

    &:before {
      
      @extend %glyphicons;
      content: "\e053";

    }

}

%icon-align-right {

    &:before {
      
      @extend %glyphicons;
      content: "\e054";

    }

}

%icon-align-justify {

    &:before {
      
      @extend %glyphicons;
      content: "\e055";

    }

}

%icon-list {

    &:before {
      
      @extend %glyphicons;
      content: "\e056";

    }

}

%icon-indent-left {

    &:before {
      
      @extend %glyphicons;
      content: "\e057";

    }

}

%icon-indent-right {

    &:before {
      
      @extend %glyphicons;
      content: "\e058";

    }

}

%icon-facetime-video {

    &:before {
      
      @extend %glyphicons;
      content: "\e059";

    }

}

%icon-picture {

    &:before {
      
      @extend %glyphicons;
      content: "\e060";

    }

}

%icon-map-marker {

    &:before {
      
      @extend %glyphicons;
      content: "\e062";

    }

}

%icon-adjust {

    &:before {
      
      @extend %glyphicons;
      content: "\e063";

    }

}

%icon-tint {

    &:before {
      
      @extend %glyphicons;
      content: "\e064";

    }

}

%icon-edit {

    &:before {
      
      @extend %glyphicons;
      content: "\e065";

    }

}

%icon-share {

    &:before {
      
      @extend %glyphicons;
      content: "\e066";

    }

}

%icon-check {

    &:before {
      
      @extend %glyphicons;
      content: "\e067";

    }

}

%icon-move {

    &:before {
      
      @extend %glyphicons;
      content: "\e068";

    }

}

%icon-step-backward {

    &:before {
      
      @extend %glyphicons;
      content: "\e069";

    }

}

%icon-fast-backward {

    &:before {
      
      @extend %glyphicons;
      content: "\e070";

    }

}

%icon-backward {

    &:before {
      
      @extend %glyphicons;
      content: "\e071";

    }

}

%icon-play {

    &:before {
      
      @extend %glyphicons;
      content: "\e072";

    }

}

%icon-pause {

    &:before {
      
      @extend %glyphicons;
      content: "\e073";

    }

}

%icon-stop {

    &:before {
      
      @extend %glyphicons;
      content: "\e074";

    }

}

%icon-forward {

    &:before {
      
      @extend %glyphicons;
      content: "\e075";

    }

}

%icon-fast-forward {

    &:before {
      
      @extend %glyphicons;
      content: "\e076";

    }

}

%icon-step-forward {

    &:before {
      
      @extend %glyphicons;
      content: "\e077";

    }

}

%icon-eject {

    &:before {
      
      @extend %glyphicons;
      content: "\e078";

    }

}

%icon-chevron-left {

    &:before {
      
      @extend %glyphicons;
      content: "\e079";

    }

}

%icon-chevron-right {

    &:before {
      
      @extend %glyphicons;
      content: "\e080";

    }

}

%icon-plus-sign {

    &:before {
      
      @extend %glyphicons;
      content: "\e081";

    }

}

%icon-minus-sign {

    &:before {
      
      @extend %glyphicons;
      content: "\e082";

    }

}

%icon-remove-sign {

    &:before {
      
      @extend %glyphicons;
      content: "\e083";

    }

}

%icon-ok-sign {

    &:before {
      
      @extend %glyphicons;
      content: "\e084";

    }

}

%icon-question-sign {

    &:before {
      
      @extend %glyphicons;
      content: "\e085";

    }

}

%icon-info-sign {

    &:before {
      
      @extend %glyphicons;
      content: "\e086";

    }

}

%icon-screenshot {

    &:before {
      
      @extend %glyphicons;
      content: "\e087";

    }

}

%icon-remove-circle {

    &:before {
      
      @extend %glyphicons;
      content: "\e088";

    }

}

%icon-ok-circle {

    &:before {
      
      @extend %glyphicons;
      content: "\e089";

    }

}

%icon-ban-circle {

    &:before {
      
      @extend %glyphicons;
      content: "\e090";

    }

}

%icon-arrow-left {

    &:before {
      
      @extend %glyphicons;
      content: "\e091";

    }

}

%icon-arrow-right {

    &:before {
      
      @extend %glyphicons;
      content: "\e092";

    }

}

%icon-arrow-up {

    &:before {
      
      @extend %glyphicons;
      content: "\e093";

    }

}

%icon-arrow-down {

    &:before {
      
      @extend %glyphicons;
      content: "\e094";

    }

}

%icon-share-alt {

    &:before {
      
      @extend %glyphicons;
      content: "\e095";

    }

}

%icon-resize-full {

    &:before {
      
      @extend %glyphicons;
      content: "\e096";

    }

}

%icon-resize-small {

    &:before {
      
      @extend %glyphicons;
      content: "\e097";

    }

}

%icon-exclamation-sign {

    &:before {
      
      @extend %glyphicons;
      content: "\e101";

    }

}

%icon-gift {

    &:before {
      
      @extend %glyphicons;
      content: "\e102";

    }

}

%icon-leaf {

    &:before {
      
      @extend %glyphicons;
      content: "\e103";

    }

}

%icon-fire {

    &:before {
      
      @extend %glyphicons;
      content: "\e104";

    }

}

%icon-eye-open {

    &:before {
      
      @extend %glyphicons;
      content: "\e105";

    }

}

%icon-eye-close {

    &:before {
      
      @extend %glyphicons;
      content: "\e106";

    }

}

%icon-warning-sign {

    &:before {
      
      @extend %glyphicons;
      content: "\e107";

    }

}

%icon-plane {

    &:before {
      
      @extend %glyphicons;
      content: "\e108";

    }

}

%icon-calendar {

    &:before {
      
      @extend %glyphicons;
      content: "\e109";

    }

}

%icon-random {

    &:before {
      
      @extend %glyphicons;
      content: "\e110";

    }

}

%icon-magnet {

    &:before {
      
      @extend %glyphicons;
      content: "\e112";

    }

}

%icon-chevron-up {

    &:before {
      
      @extend %glyphicons;
      content: "\e113";

    }

}

%icon-chevron-down {

    &:before {
      
      @extend %glyphicons;
      content: "\e114";

    }

}

%icon-retweet {

    &:before {
      
      @extend %glyphicons;
      content: "\e115";

    }

}

%icon-shopping-cart {

    &:before {
      
      @extend %glyphicons;
      content: "\e116";

    }

}

%icon-folder-close {

    &:before {
      
      @extend %glyphicons;
      content: "\e117";

    }

}

%icon-folder-open {

    &:before {
      
      @extend %glyphicons;
      content: "\e118";

    }

}

%icon-resize-vertical {

    &:before {
      
      @extend %glyphicons;
      content: "\e119";

    }

}

%icon-resize-horizontal {

    &:before {
      
      @extend %glyphicons;
      content: "\e120";

    }

}

%icon-hdd {

    &:before {
      
      @extend %glyphicons;
      content: "\e121";

    }

}

%icon-bullhorn {

    &:before {
      
      @extend %glyphicons;
      content: "\e122";

    }

}

%icon-bell {

    &:before {
      
      @extend %glyphicons;
      content: "\e123";

    }

}

%icon-certificate {

    &:before {
      
      @extend %glyphicons;
      content: "\e124";

    }

}

%icon-thumbs-up {

    &:before {
      
      @extend %glyphicons;
      content: "\e125";

    }

}

%icon-thumbs-down {

    &:before {
      
      @extend %glyphicons;
      content: "\e126";

    }

}

%icon-hand-right {

    &:before {
      
      @extend %glyphicons;
      content: "\e127";

    }

}

%icon-hand-left {

    &:before {
      
      @extend %glyphicons;
      content: "\e128";

    }

}

%icon-hand-up {

    &:before {
      
      @extend %glyphicons;
      content: "\e129";

    }

}

%icon-hand-down {

    &:before {
      
      @extend %glyphicons;
      content: "\e130";

    }

}

%icon-circle-arrow-right {

    &:before {
      
      @extend %glyphicons;
      content: "\e131";

    }

}

%icon-circle-arrow-left {

    &:before {
      
      @extend %glyphicons;
      content: "\e132";

    }

}

%icon-circle-arrow-up {

    &:before {
      
      @extend %glyphicons;
      content: "\e133";

    }

}

%icon-circle-arrow-down {

    &:before {
      
      @extend %glyphicons;
      content: "\e134";

    }

}

%icon-globe {

    &:before {
      
      @extend %glyphicons;
      content: "\e135";

    }

}

%icon-wrench {

    &:before {
      
      @extend %glyphicons;
      content: "\e136";

    }

}

%icon-tasks {

    &:before {
      
      @extend %glyphicons;
      content: "\e137";

    }

}

%icon-filter {

    &:before {
      
      @extend %glyphicons;
      content: "\e138";

    }

}

%icon-briefcase {

    &:before {
      
      @extend %glyphicons;
      content: "\e139";

    }

}

%icon-fullscreen {

    &:before {
      
      @extend %glyphicons;
      content: "\e140";

    }

}

%icon-dashboard {

    &:before {
      
      @extend %glyphicons;
      content: "\e141";

    }

}

%icon-paperclip {

    &:before {
      
      @extend %glyphicons;
      content: "\e142";

    }

}

%icon-heart-empty {

    &:before {
      
      @extend %glyphicons;
      content: "\e143";

    }

}

%icon-link {

    &:before {
      
      @extend %glyphicons;
      content: "\e144";

    }

}

%icon-phone {

    &:before {
      
      @extend %glyphicons;
      content: "\e145";

    }

}

%icon-pushpin {

    &:before {
      
      @extend %glyphicons;
      content: "\e146";

    }

}

%icon-usd {

    &:before {
      
      @extend %glyphicons;
      content: "\e148";

    }

}

%icon-gbp {

    &:before {
      
      @extend %glyphicons;
      content: "\e149";

    }

}

%icon-sort {

    &:before {
      
      @extend %glyphicons;
      content: "\e150";

    }

}

%icon-sort-by-alphabet {

    &:before {
      
      @extend %glyphicons;
      content: "\e151";

    }

}

%icon-sort-by-alphabet-alt {

    &:before {
      
      @extend %glyphicons;
      content: "\e152";

    }

}

%icon-sort-by-order {

    &:before {
      
      @extend %glyphicons;
      content: "\e153";

    }

}

%icon-sort-by-order-alt {

    &:before {
      
      @extend %glyphicons;
      content: "\e154";

    }

}

%icon-sort-by-attributes {

    &:before {
      
      @extend %glyphicons;
      content: "\e155";

    }

}

%icon-sort-by-attributes-alt {

    &:before {
      
      @extend %glyphicons;
      content: "\e156";

    }

}

%icon-unchecked {

    &:before {
      
      @extend %glyphicons;
      content: "\e157";

    }

}

%icon-expand {

    &:before {
      
      @extend %glyphicons;
      content: "\e158";

    }

}

%icon-collapse-down {

    &:before {
      
      @extend %glyphicons;
      content: "\e159";

    }

}

%icon-collapse-up {

    &:before {
      
      @extend %glyphicons;
      content: "\e160";

    }

}

%icon-log-in {

    &:before {
      
      @extend %glyphicons;
      content: "\e161";

    }

}

%icon-flash {

    &:before {
      
      @extend %glyphicons;
      content: "\e162";

    }

}

%icon-log-out {

    &:before {
      
      @extend %glyphicons;
      content: "\e163";

    }

}

%icon-new-window {

    &:before {
      
      @extend %glyphicons;
      content: "\e164";

    }

}

%icon-record {

    &:before {
      
      @extend %glyphicons;
      content: "\e165";

    }

}

%icon-save {

    &:before {
      
      @extend %glyphicons;
      content: "\e166";

    }

}

%icon-open {

    &:before {
      
      @extend %glyphicons;
      content: "\e167";

    }

}

%icon-saved {

    &:before {
      
      @extend %glyphicons;
      content: "\e168";

    }

}

%icon-import {

    &:before {
      
      @extend %glyphicons;
      content: "\e169";

    }

}

%icon-export {

    &:before {
      
      @extend %glyphicons;
      content: "\e170";

    }

}

%icon-send {

    &:before {
      
      @extend %glyphicons;
      content: "\e171";

    }

}

%icon-floppy-disk {

    &:before {
      
      @extend %glyphicons;
      content: "\e172";

    }

}

%icon-floppy-saved {

    &:before {
      
      @extend %glyphicons;
      content: "\e173";

    }

}

%icon-floppy-remove {

    &:before {
      
      @extend %glyphicons;
      content: "\e174";

    }

}

%icon-floppy-save {

    &:before {
      
      @extend %glyphicons;
      content: "\e175";

    }

}

%icon-floppy-open {

    &:before {
      
      @extend %glyphicons;
      content: "\e176";

    }

}

%icon-credit-card {

    &:before {
      
      @extend %glyphicons;
      content: "\e177";

    }

}

%icon-transfer {

    &:before {
      
      @extend %glyphicons;
      content: "\e178";

    }

}

%icon-cutlery {

    &:before {
      
      @extend %glyphicons;
      content: "\e179";

    }

}

%icon-header {

    &:before {
      
      @extend %glyphicons;
      content: "\e180";

    }

}

%icon-compressed {

    &:before {
      
      @extend %glyphicons;
      content: "\e181";

    }

}

%icon-earphone {

    &:before {
      
      @extend %glyphicons;
      content: "\e182";

    }

}

%icon-phone-alt {

    &:before {
      
      @extend %glyphicons;
      content: "\e183";

    }

}

%icon-tower {

    &:before {
      
      @extend %glyphicons;
      content: "\e184";

    }

}

%icon-stats {

    &:before {
      
      @extend %glyphicons;
      content: "\e185";

    }

}

%icon-sd-video {

    &:before {
      
      @extend %glyphicons;
      content: "\e186";

    }

}

%icon-hd-video {

    &:before {
      
      @extend %glyphicons;
      content: "\e187";

    }

}

%icon-subtitles {

    &:before {
      
      @extend %glyphicons;
      content: "\e188";

    }

}

%icon-sound-stereo {

    &:before {
      
      @extend %glyphicons;
      content: "\e189";

    }

}

%icon-sound-dolby {

    &:before {
      
      @extend %glyphicons;
      content: "\e190";

    }

}

%icon-sound-5-1 {

    &:before {
      
      @extend %glyphicons;
      content: "\e191";

    }

}

%icon-sound-6-1 {

    &:before {
      
      @extend %glyphicons;
      content: "\e192";

    }

}

%icon-sound-7-1 {

    &:before {
      
      @extend %glyphicons;
      content: "\e193";

    }

}

%icon-copyright-mark {

    &:before {
      
      @extend %glyphicons;
      content: "\e194";

    }

}

%icon-registration-mark {

    &:before {
      
      @extend %glyphicons;
      content: "\e195";

    }

}

%icon-cloud-download {

    &:before {
      
      @extend %glyphicons;
      content: "\e197";

    }

}

%icon-cloud-upload {

    &:before {
      
      @extend %glyphicons;
      content: "\e198";

    }

}

%icon-tree-conifer {

    &:before {
      
      @extend %glyphicons;
      content: "\e199";

    }

}

%icon-tree-deciduous {

    &:before {
      
      @extend %glyphicons;
      content: "\e200";

    }
}