// --------------------
// Breakpoints
// --------------------

@mixin breakpoint($point) {

	@if $point == largest {

		@media (min-width: 1020px) { @content; }

	}

	@else if $point == medium {

		@media (max-width: 1019px) { @content; }

	}

	@else if $point == small {

		@media (max-width: 640px) { @content; }
	}

	@else if $point == smaller {

		@media (max-width: 480px)  { @content; }

	}

}

@mixin viewport() {

	

}