// --------------------
// Grid System
// --------------------

.main {
	width: 100%;
	max-width: $system-width;
	margin-left: auto;
	margin-right: auto;
}

.row { 
	@extend %clear-fix;
	margin-bottom: 40px;
}

.col {
	position: relative;
	float: left;
	margin: 0 (($gutter-width / 2) / $system-width * 100%);
}

.pull-right {
	float: right;
	@include breakpoint(small) { float: none; }
}

.pull-left {
	float: left;
	@include breakpoint(small) { float: none; }
}

@for $i from 1 through $columns {

	$include-margin: $gutter-width;
	$calc-width: (($column-width * $i) + ($include-margin * ($i - 1))) / $system-width * 100%;

	.large_#{$i} { width: $calc-width; }

	@include breakpoint(medium) {

		.medium_#{$i} { width: $calc-width; }	

	}

	@include breakpoint(small) {

		.small_#{$i} { width: $calc-width; }

	}

}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}