/* line 5, app/base/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 13, app/base/_reset.scss */
html {
  -webkit-text-size-adjust: none;
}

/* line 15, app/base/_reset.scss */
article, aside, footer, header, nav, section, figure {
  display: block;
  position: relative;
}

/* line 20, app/base/_reset.scss */
img {
  border: none;
  display: block;
}

/* line 25, app/base/_reset.scss */
a {
  cursor: pointer;
}
